@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id= "wrapper">
	<div id= "container">
		<div id= "header" class="pure-u-lg-1-4">
				<img class="pure-img" src="http://demo.compropago.com/list/img/imagotipo.png">
		        <h2>SIMPLE STORE C#.NET</h2>
		        <p>Ejemplo Práctico para la generación de una órden de Pago con las librerías de ComproPago.</p>
		</div>
		<div id="content">
            <form class= "pure-form pure-form-aligned">
            <fieldset>
                <legend>Datos para generar Orden de Pago</legend>
				<p><b>Datos Requeridos</b></p>
					
				<div class="pure-control-group">
		            <label for="orderId">Order ID</label>
		            <input id="orderId" type="text" class="pure-input-2-3">
					<span id="orderId_sp" class="pure-form-message" style="color:#FF0000"></span>
		        </div>
				
                <div class="pure-control-group">
                    <label for="orderName">Order name</label>
                    <input id="orderName" type="text" class="pure-input-2-3">
					<span id="orderName_sp" class="pure-form-message" style="color:#FF0000"></span>	
                </div>

				<div class="pure-control-group">
                    <label for="orderPrice">Order price</label>
                    <input id="orderPrice" type="text" class="pure-input-2-3" >
					<span id="orderPrice_sp" class="pure-form-message" style="color:#FF0000"></span>	
                </div>

				<div class="pure-control-group">
                    <label for="customerName">Customer name</label>
                    <input id="customerName" type="text" class="pure-input-2-3">
					<span id="customerName_sp" class="pure-form-message" style="color:#FF0000"></span>	
                </div>
					
				<div class="pure-control-group">
                    <label for="customerMail">Customer email</label>
                    <input id="customerMail" type="text" class="pure-input-2-3">
					<span id="customerMail_sp" class="pure-form-message" style="color:#FF0000"></span>	
                </div>

				<div class="pure-control-group">
                    <label for="customerPhone">Customer phone</label>
                    <input id="customerPhone" type="text" class="pure-input-2-3">
					<span id="customerPhone_sp" class="pure-form-message" style="color:#FF0000"></span>	
                </div>	


				<div class="pure-control-group">
                    <label for="customerPhone">Menu Stores</label>
                </div>  	

			<div class="pure-g">		
            <div class="pure-u-1-3">
              <input id="r-OXXO" style="float: left;" name="payment_type" value="OXXO" image-label="OXXO" checked="checked" type="radio">
              <label for="r-OXXO" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-oxxo-medium.png" alt="Oxxo">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-COPPEL" style="float: left;" name="payment_type" value="COPPEL" image-label="COPPEL" type="radio">
              <label for="r-COPPEL" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-coppel-medium.png" alt="Coppel">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-BANAMEX" style="float: left;" name="payment_type" value="BANAMEX" image-label="BANAMEX" type="radio">
              <label for="r-BANAMEX" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-banamex-medium.png" alt="Banamex">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-ELEKTRA" style="float: left;" name="payment_type" value="ELEKTRA" image-label="ELEKTRA" type="radio">
              <label for="r-ELEKTRA" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-elektra-medium.png" alt="Elektra">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-SCOTIABANK" style="float: left;" name="payment_type" value="SCOTIABANK" image-label="SCOTIABANK" type="radio">
              <label for="r-SCOTIABANK" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-scotiabank-medium.png" alt="Scotiabank">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-SANTANDER" style="float: left;" name="payment_type" value="SANTANDER" image-label="SANTANDER" type="radio">
              <label for="r-SANTANDER" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-santander-medium.png" alt="Santander">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-BANORTE" style="float: left;" name="payment_type" value="BANORTE" image-label="BANORTE" type="radio">
              <label for="r-BANORTE" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-banorte-medium.png" alt="Banorte">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-INBURSA" style="float: left;" name="payment_type" value="INBURSA" image-label="INBURSA" type="radio">
              <label for="r-INBURSA" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-inbursa-medium.png" alt="Inbursa">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-CASA_LEY" style="float: left;" name="payment_type" value="CASA_LEY" image-label="CASA_LEY" type="radio">
              <label for="r-CASA_LEY" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-ley-medium.png" alt="Casa Ley">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-FARMACIA_ESQUIVAR" style="float: left;" name="payment_type" value="FARMACIA_ESQUIVAR" image-label="FARMACIA_ESQUIVAR" type="radio">
              <label for="r-FARMACIA_ESQUIVAR" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-esquivar-medium.png" alt="Farmacia Esquivar">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-PITICO" style="float: left;" name="payment_type" value="PITICO" image-label="PITICO" type="radio">
              <label for="r-PITICO" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-pitico-medium.png" alt="Piticó">
              </label>
            </div>
            <div class="pure-u-1-3">
              <input id="r-FARMACIA_ABC" style="float: left;" name="payment_type" value="FARMACIA_ABC" image-label="FARMACIA_ABC" type="radio">
              <label for="r-FARMACIA_ABC" class="provider-description">
                <img src="https://s3.amazonaws.com/compropago/assets/images/receipt/receipt-abc-medium.png" alt="Farmacia ABC">
              </label>
            </div>
        </div> 


					
                <p>Datos Opcionales</p>

				<label for="currency">Currency</label>
		        <select id="currency">
		            <option>MXN</option>
		            <option>USD</option>
		            <option>EUR</option>
					<option>GBP</option>	
		        </select>
				<br>
				<br>
                <button id = "crearOrden" type="submit" class="button-secondary pure-button">Crear Orden de Pago</button>
            </fieldset>
            </form>
		</div>
	</div>
</div>

